.footer {
  display: flex;
  list-style-type: none;
  flex-wrap: nowrap;
  padding: 0;
  overflow: hidden;
  background-color: rgb(39, 38, 38);
  position: static;
  left: 0;
  bottom: 0;
  text-align: center;
}



li a {
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
  background-color: #111;
}