.navbar {
  display: flex;
  list-style-type: none;
  flex-wrap: nowrap;
  margin-top: 0;

  padding: 0;
  overflow: hidden;
  background-color: rgb(39, 38, 38);
  position: fixed;
  top: 0;
}


li a {
  height: 100%;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
  background-color: #111;
}